.show {
    .status-container {
        .date {
            color: grey;
            font-size: 12px;
        };

        .note {
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                font-size: 18px;
                margin-right: 20px;
            }

            .btn {

            }
        }

        
    }
}